* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    font-size: 16px;
}

body {
    background-color:rgba(133, 70, 192, 0.664)
}


.calcbody {
    margin: 4rem auto;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 25px;
    width: 600px;
    border: black solid 4px;
    border-radius: 20px;
}

.display {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid black;
    background-color: white;
    font-size: 2rem;
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    height: 100%
}

.btncontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: stretch;
}

.right {
    flex: 1;
}

.number, .btn {
    flex: auto;
}

.btn,
.operator {
    background-color: #9b9b9b;
}

button {
    width: 100px;
    font-size: 2rem;
    background-color: #cfcfcf;
    border: black 2px solid;
    transition: all 0.1s;
    border-radius: 8px;
}

.number:hover:not(.pressed) {
    background-color: #e2e2e2;
}

.operator:hover:not(.pressed),
.btn:hover:not(.pressed) {
    background-color: #b8b8b8;
}

#clear:hover:not(.pressed) {
    background-color: rgb(253, 156, 156);
}

#equal:hover:not(.pressed) {
    background-color: rgb(156, 253, 169);
}
/* 
button:active {
    background-color: rgb(140, 222, 255);
    box-shadow: inset 2px 2px 10px rgb(94, 157, 182);
} */
.btn.pressed,
.operator.pressed,
.number.pressed {
    background-color: rgb(140, 222, 255);
    box-shadow: inset 2px 2px 10px rgb(94, 157, 182);
}

#clear.pressed {
    background-color: rgb(238, 116, 116);
    box-shadow: inset 2px 2px 10px rgb(182, 94, 94);
}

#equal.pressed {
    background-color: rgb(115, 235, 131);
    box-shadow: inset 2px 2px 10px rgb(64, 161, 77);
    ;
}